description = "Default layout"

[staticPage]


[staticMenu]
code = "header"

[SeoStaticPage]
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% component 'SeoStaticPage' %}
    <meta name="author" content="Crockenhill Baptist Church">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ 'assets/images/square-oswald-compressed-website-optimised.png'|theme }}" />
    {% styles %}
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic|Oswald' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ [
        'assets/css/theme.css'
    ]|theme }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <header id="layout-header">

      <!-- Nav -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              Crockenhill Baptist Church
            </a>
            <span class="nav-no-notch"></span>
          </div>
          <div class="navbar-collapse collapse">

            {% partial 'menu-items' items=staticMenu.menuItems class='nav navbar-nav' %}

            <ul class="nav navbar-nav navbar-right">
              
              <!-- <li>
                <a href="http://www.facebook.com/crockenhill">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              
              <li>
                <a href="http://www.twitter.com/crockenhill">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            
              <li>
                <a href="http://www.facebook.com/crockenhill">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li> -->
              
            </ul>
          </div>
      	</div>
      </nav>

    </header>

    <!-- Content -->
    <section id="layout-content">
      <main class="container">
    	   <div class="row">
          <div class="col-md-9">
            <article class="card">
              <div class="header-container">
                <h1>{{ this.page.title }}</h1>
              </div>
              {% component 'staticBreadcrumbs' %}
              {% page %}
            </article>
          </div>
        </div>
    	</main>
    </section>

    <!-- Footer -->
    <footer id="layout-footer">
      <div class="row">
        <section class="col-md-6 col-lg-3">
          <h4 class="text-center">Latest Morning Sermon</h4>
          <p class="text-center">
            <a href="">morning->title</a>
          </p>
          <p class="text-center">morning->reference</p>
        </section>

        <section class="col-md-6 col-lg-3">
          <h4 class="text-center">Latest Evening Sermon</h4>
          <p class="text-center">
            <a href="">evening->title</a>
          </p>
          <p class="text-center">evening->reference</p>
        </section>

        <section class="col-md-6 col-lg-3">
          <h4 class="text-center">Get in touch</h4>
          <p class="text-center">
            <span class="glyphicon glyphicon-earphone"></span>
             &nbsp&nbsp 01322 663995
           </p>
          <p class="text-center">
            <span class="glyphicon glyphicon-envelope"></span>
             &nbsp&nbsp  
            <a href="mailto:pastor@crockenhill.org">pastor@crockenhill.org</a>
          </p>
          <p class="text-center">
            <i class="fa fa-facebook"></i>
             &nbsp&nbsp
            <a href="http://www.facebook.com/crockenhill">Like us on Facebook</a>
          </p>
          <p class="text-center">
            <i class="fa fa-twitter"></i>
             &nbsp&nbsp
            <a href="http://www.twitter.com/crockenhill">Follow us on Twitter</a>
          </p>
        </section>

        <section class="col-md-6 col-lg-3">
          <h4 class="text-center">Address</h4>
          <address class="text-center">
            Crockenhill Baptist Church<br />
            Eynsford Road<br />
            Crockenhill<br />
            Kent<br />
            BR8 8JS<br />
          </address>
        </section>
      </div>

      <div class="row">
        <section class="col-md-6 col-md-offset-3">
          <a href="http://www.fiec.org.uk">
            <img src="/themes/cbc/assets/images/fiec-affiliated-tagline-white.png" width="100%">
          </a>
        </section>

        <section class="col-sm-12">
          <p class="text-center copyright"><small>© date('Y') Crockenhill Baptist Church</small></p>
        </section>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{ [
        'assets/javascript/app.js'
    ]|theme }}"></script>
    {% framework extras %}
    {% scripts %}

  </body>
</html>